<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

    <form role="form"
          action="{% url 'user_login' %}"
          method="POST">
        {% csrf_token %}
        <p>Please Login</p>
        {{ form }}

        <button type="submit" class="btn btn-success">Sign In</button>
    </form>

</body>
</html>


<!--

{% extends "blank_base.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <form role="form"
          action="{% url 'user_login' %}"
          method="POST">
        <p>Please Login</p>

        {{ form }}

        <button type="submit" class="btn btn-success">Sign In</button>
    </form>
{% endblock %}
-->
