{% extends "blank_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset Complete
{% endblock %}

{% block content %}
    <br><br>
    <div class="card login-card message-done">
        <div class="card-body">
            <h4 class="card-title">Password Reset Successfully...</h4>
            <p>
                Your password has been set. Please go ahead and sign in...
            </p>
            <a href="/home">Click here to sign in!</a>
        </div>
    </div>

{% endblock %}
