
@import "../libs/fonts/fonts.css";
[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    position: relative;
    min-width: 280px;
    margin: 0 auto;
}

#page-header {
    color: #fff;
    background-color: #000;
    overflow: hidden;
    top: 10px;
    margin-top: 0;
}

.sidebar,
.main {
    transition: all .3s;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
}

.sidebar {
    width: 280px;
    background-color: #333;
    left: 0;
}

.sidebar-header {
    background: #fff;
}


#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#sidebar.active {
    margin-left: -280px;
}

#sidebar .sidebar-header {
    padding: 1px;
    background: #333;
    position: sticky;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#form-search {
    width: 97%;
    margin: 0 2px;
    display: block;
}

#input-search {
    width: 100%;
    margin: 0 auto;
}

#input-search:focus {   
  border-color: gray;
  box-shadow: 0 1px 1px gray inset, 0 0 8px black;
  outline: 0 none;
}

#logo-wrapper-main {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#logo-wrapper {
    margin: 0 auto;
    text-align: center;
}

#app-logo {
    width: 70px;
    margin: 0 auto;
}

#app-header {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.main {
    background-color: #f5f5f5;
    position: absolute;
    left: 280px;
    right: 0;
    padding: 20px;
}

h2 {
    margin: 0 0 1em 0;
}

.toggle-menu {
    color: #ccc;
    text-decoration: none;
    font-size: 50px;
    float: left;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.toggle-menu:hover {
    color: #fff;
}

.toggle-menu:before {
    height: 64px;
    width: 64px;
    display: block;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
}

aside li {
    padding: 20px;
    color: #ccc;
    background-color: #333;
    margin-bottom: 1px;
    border-left: 10px solid transparent;
}

aside li.active {
    border-color: #e35205
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#content {
    margin-top: 50px;
}

#split-bar {
    height:100%;
    float: right;
    width: 6px;
    cursor: col-resize;
    z-index: 10;
}

.content {
    margin-left: 0;
    padding-left: 0;
}

@media all and (max-width: 1024px) {
    .sidebar.toggled {
        left: 0;
        z-index: 10;
        box-shadow: 3px 1px 10px rgba(0, 0, 0, .8);
    }
    
    .sidebar {
        left: -280px;
    }
    .main {
        left: 0;
    }
    .toggle-menu {
        z-index: 1;
        opacity: 1;
    }
    h1 {
        left: 40px;
    }
}