{% extends 'contract/contract_base.html' %}

{% block title %}
    Infinity
{% endblock%}

{% block side_content %}
    <div>
        <div class="sidebar-header">
            <div id="logo-wrapper">
                <img id="app-logo" src="static/img/logo.svg" alt="Infinity Logo" />
                <h1 id="app-header" class="display-5">infinity</h1>
            </div>
            <br>

            <form id="form-search" class="form-inline my-2 my-lg-0">
                <input id="input-search" class="form-control form-control-dark mr-sm-2" type="text" placeholder="Search...">
            </form>
        </div>
        <nav>
            <ul>
                {% for hotel in hotels %}
                    <li id="htl-search-{{ hotel.hotel_id }}" class="search-result">{{ hotel.hotel_code }}; {{ hotel.hotel }}</li>
                {% endfor %}
                <li class="search-result">Chapter 1</li>
                <li class="search-result active">Chapter 2</li>
                <li class="search-result">Chapter 3</li>
                <li class="search-result">Chapter 4</li>
                <li class="search-result">Chapter 5</li>
                <li class="search-result">Chapter 6</li>
                <li class="search-result">Chapter 7</li>
                <li class="search-result">Chapter 8</li>
                <li class="search-result">Chapter 9</li>
                <li class="search-result">Chapter 10</li>
            </ul>
        </nav>
    </div>
{% endblock %}


{% block main_content %}
<div class="wrapper">
    <!-- Page Content  -->
    <div id="content">
        <div>
            <h2 class="display-5">AYT067AA: Queens Park Hotel***</h2>
            <p>Some information about the hotel. There could be some charts as well!
            </p>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Contracts
                  </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                {% for season in seasons %}
                                    <li class="nav-item">
                                    <a class="nav-link {% if season.season_id == current_season %}active{% endif %}" data-toggle="tab" href="#season-{{ season.season_id }}">{{ season.season_code }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for season in seasons %}
                                    <div id="season-{{ season.season_id }}" class="tab-pane {% if season.season_id == current_season %}active{% endif %}">
                                        <br>
                                        <h3>{{ season.season }}</h3>
                                        <table id="versions-table" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Version</th>
                                                    <th>Status</th>
                                                    <th>BW Start</th>
                                                    <th>BW End</th>
                                                    <th>Travel From</th>
                                                    <th>Travel Till</th>
                                                    <th>Offers</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="table-row text-secondary" data-href="#">
                                                    <td colspan="7" class="text-danger">Add New Version...</td>
                                                </tr>
                                                <tr class="table-row text-secondary" data-href="#">
                                                    <td>04</td>
                                                    <td>DFT</td>
                                                    <td>01-04-2018</td>
                                                    <td>31-10-2019</td>
                                                    <td>01-05-2019</td>
                                                    <td>31-10-2019</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr class="table-row text-secondary text-warning" data-href="#">
                                                    <td>03</td>
                                                    <td>CNX</td>
                                                    <td>01-04-2018</td>
                                                    <td>31-10-2019</td>
                                                    <td>01-05-2019</td>
                                                    <td>31-10-2019</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr class="table-row text-secondary text-success" data-href="#">
                                                    <td>02</td>
                                                    <td>CPT</td>
                                                    <td>01-04-2018</td>
                                                    <td>31-10-2019</td>
                                                    <td>01-05-2019</td>
                                                    <td>31-10-2019</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr class="table-row text-secondary text-success" data-href="#">
                                                    <td>01</td>
                                                    <td>CPT</td>
                                                    <td>01-04-2018</td>
                                                    <td>31-10-2019</td>
                                                    <td>01-05-2019</td>
                                                    <td>31-10-2019</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                  Accommodation
                  </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <form action="/action_page.php">
                                <div class="form-group">
                                    <label for="hotel-name">Name:</label>
                                    <input type="text" class="form-control" id="hotel-name" placeholder="Enter hotel name" name="hotel-name" maxlength="100" required>
                                </div>
                                <div class="form-group">
                                    <label for="rating-type">Rating Type:</label>
                                    <select id="rating-type" name="rating-type" class="custom-select mb-2" required>
                                        <option valud="" selected>Select...</option>
                                        <option value="FTI">FTI</option>
                                        <option value="Official">Official</option>
                                    </select>
                                    <label for="rating">Rating:</label>
                                    <select id="rating" name="rating" class="custom-select mb-2" required>
                                        <option value="" selected>Select...</option>
                                        <option value="5">5*****</option>
                                        <option value="4">4****</option>
                                        <option value="3">3***</option>
                                        <option value="2">2**</option>
                                        <option value="1">*</option>
                                    </select>
                                    <label for="chain">Chain:</label>
                                    <select id="chain" name="chain" class="custom-select mb-2">
                                        <option selected>None</option>
                                        {% for chain in hotel_chains %}
                                            <option value="{{ chain.hotel_chain_id }}">{{ chain.hotel_chain }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country:</label>
                                    <select id="country" name="country" class="custom-select mb-2" required>
                                        <option value="" selected>Select...</option>
                                        {% for country in countries %}
                                            <option value="{{ country.country_id }}">{{ country.country }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="region">Region:</label>
                                    <select id="region" name="region" class="custom-select mb-2" required>
                                        <option value="" selected>Select...</option>
                                    </select>
                                    <label for="city">City:</label>
                                    <select id="city" name="city" class="custom-select mb-2" required>
                                        <option value="" selected>Select...</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="i5-codes">I5 Codes:</label>
                                    <input type="text" class="form-control" id="i5-codes" name="i5-codes" maxlength="10">
                                    <label for="gwg-codes">GWG Codes:</label>
                                    <input type="text" class="form-control" id="gwg-codes" name="gwg-codes" maxlength="10">
                                    <label for="giata">Giata Number:</label>
                                    <input type="text" class="form-control" id="giata" name="giata" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="department">Department:</label>
                                    <input type="email" class="form-control" id="email" name="emial">
                                    <br>
                                    <button type="submit" class="btn btn-dark">SUBMIT</button>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Units
                    </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="list-group scrollable">
                                            <a href="#" class="list-group-item list-group-item-action text-danger">Add New Room...</a>
                                            <a href="#" class="list-group-item list-group-item-action">DZT (Twin Room Low Cost)</a>
                                            <a href="#" class="list-group-item list-group-item-action">DZ (Twin Room)</a>
                                            <a href="#" class="list-group-item list-group-item-action">PJ (Junior Suite)</a>
                                            <a href="#" class="list-group-item list-group-item-action">DZT (Twin Room Low Cost)</a>
                                            <a href="#" class="list-group-item list-group-item-action">DZ (Twin Room)</a>
                                            <a href="#" class="list-group-item list-group-item-action">PJ (Junior Suite)</a>
                                            <a href="#" class="list-group-item list-group-item-action">DZT (Twin Room Low Cost)</a>
                                            <a href="#" class="list-group-item list-group-item-action">DZ (Twin Room)</a>
                                            <a href="#" class="list-group-item list-group-item-action">PJ (Junior Suite)</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <form>

                                            <div class="form-group">
                                                <label id="lbl-room-code" for="room-code">Room Code:</label>
                                                <br />
                                                <select id="select-room-code" name="room-code" class="custom-select mb-2">
                                                    <option selected>Select...</option>
                                                    <option value="DZT">DZT</option>
                                                    <option value="DZ">DZ</option>
                                                    <option value="DS">DS</option>
                                                    <option value="DX">DX</option>
                                                </select>
                                                <input type="text" class="form-control mb-2" id="room-override" placeholder="Room override name" name="room-override" maxlength="100">
                                            </div>
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Min</th>
                                                        <th>Std</th>
                                                        <th>Max</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="font-weight-bold">Occupancy</td>
                                                        <td>
                                                            <input type="number" class="form-control" value="1" min="1" />
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" value="2" min="1" />
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" value="3" min="1" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-bold">Adult</td>
                                                        <td>
                                                            <input type="number" class="form-control" value="1" min="1" />
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" value="3" min="1" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-bold">Child</td>
                                                        <td>
                                                            <input type="number" class="form-control" value="0" min="0" />
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" value="0" min="0" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-bold">Infants</td>
                                                        <td colspan="2">
                                                            <select id="room-infant" name="room-infant" class="custom-select mb-2">
                                                                <option selected>Up To Max</option>
                                                                <option value="FTI">Over Occ</option>
                                                                <option value="Official">Excluded</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" value="1" min="0" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="submit" class="btn btn-dark">SAVE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseFour">
                  Audit Trial
                  </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
